*{
margin:0px;
padding:0px;
box-sizing:border-box;
font-family: 'Hind Siliguri', sans-serif;
}
html {
  scroll-behavior: smooth;
}

nav{
width:100%;
min-height:60px;
line-height:60px;
display:flex;
justify-content:space-between;
background-color:#000;
padding:0 30px 0 20px;
position:fixed;
z-index:1;
}
nav>h1{
font-family: 'Anton', sans-serif;
font-size:30px;
color:#fff;
}
nav>h1>span{
color:#FF6000;
font-family: 'Anton', sans-serif;
font-size:30px;
}
nav>ul{
list-style-type:none;
display:flex;
gap:20px;
}
nav>ul>li>a{
text-transform:uppercase;
font-size:18px;
font-weight:bold;
color:#fff;
}
nav>ul>li>a:hover{
color:orange;
transition:.4s;
cursor:pointer;
}
nav>ul>li>a{
text-decoration:none;
}
.icons1{
color:orange;
}

/*end of nav bar*/


.container{
display:grid;
grid-template-columns:1fr 1fr;
grid-gap:20px;
padding:15px;
}
.bigimg>img{
width:100%;
height:530px;
border-radius:10px;
filter:brightness(110%);
}
.container1{
display:grid;
grid-template-columns:1fr 1fr;
grid-gap:15px;

}
.pics{
width:100%;
height:250px;
}
.pics>img{
width:100%;
height:100%;
border-radius:10px;
filter:brightness(110%);
}
.pics>img:hover{
filter:brightness(65%);
cursor:pointer;
transition:.3s;
}
.bigimg>img:hover{
filter:brightness(65%);
cursor:pointer;
transition:.3s;
}

.advice{
width:100%;
height:180px;
 
}
.line>p{
text-align:center;
padding-top:20px;
text-transform:uppercase;
font-weight:bold;
font-size:25px;
margin-bottom:20px;
}
.logos{
display:flex;
justify-content:space-between;
width:90%;
margin:auto;
}
.logos>img{
width:22%;
height:100%;
}

.adventure{
position:relative;
margin-top:30px;
}
.matter{
position:absolute;
left:60px;
right:60px;
top:100px;

}

.matter>h1,.about-matter>h1{
text-align:center;
line-height:50px;
color:#ffff;
font-family: 'Clicker Script', cursive;
margin-bottom:10px;
}
.matter>h1>span,.about-matter>h1>span{
font-family: 'Inspiration', cursive;
font-size:110px;

}
.matter>p{
font-family: 'Merriweather', serif;
color:#ffff;
font-size:25px;
text-align:center;
line-height:45px;
}
.about-matter a,.matter a{
color:#fff;
font-size:25px;
text-transform:capitalize;
font-family: 'Merriweather', serif;
margin-left:300px;
margin-top:180px;
text-decoration:none;
}
 

.subscribe{
border:none;
border-radius:15px;
width:35%;
padding:10px;
background-color:#FF6000;

}

.ad-pic{
width:100%;
height:500px;
}
.start{
width:100%;
height:auto;
position:relative;
margin-top:50px;

}
.adv-heading>h1{
text-align:center;
color:#000;
font-size:70px;
font-family: 'Inspiration', cursive;
margin-bottom:20px;

}
.ad-pic>img{
width:100%;
height:100%;
opacity:2;
}
.adv-pics{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-auto-rows:350px;
grid-gap:30px;
padding:20px;
}
.images{
width:100%;
height:300px;
}
.images>img:hover{
filter:brightness(65%);
cursor:pointer;
transition:.3s;
}
.images>h3>a,.links>h3>a{
text-decoration:none;
}
.images>h3>a:hover{
color:#FF6000;
transition:.3s;
opacity:1;
cursor:pointer;

}
.links>h3>a:hover{
color:#FF6000;
transition:.3s;
opacity:1;
cursor:pointer;

}
.images>img{
width:100%;
height:100%;
border-radius:10px;
filter:brightness(110%);
}

.images>h3>a,.links>h3>a{
font-family: 'Merriweather', serif;
color:#000;
margin-bottom:10px;
text-transform:capitalize;
text-align:left;
line-height:25px;
}

.adv-pics1{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-auto-rows:450px;
grid-gap:20px;
padding:20px;
}
.small-log{
width:100%;
height:250px;
background-color:lightgrey;
display:flex;
flex-wrap: no-wrap;

}
.links{
padding:30px;

}
.links>img{
width:65%;
border-radius:10px;
float:left;
}
.links>img:hover{
filter:brightness(65%);
cursor:pointer;
transition:.3s;
}
.links>h3{
float:right;
margin-top:15px;
}
.links>h3:hover{
color:#FF6000;
transition:.3s;
opacity:1;
cursor:pointer;
}
.about{
width:100%;
height:650px;
position:relative;
margin-top:90px;
padding:20px;
display:flex;
justify-content:space-between;
}
.about-pic{
width:35%;

}
.about-pic>img{
width:100%;
height:80%;
border-radius:10px;
}
.about-matter{
width:60%;
}
.about-matter>h1{
margin-bottom:20px;
}
p{
font-family:arial;
color:grey;
font-size:16px;
line-height:25px;
}

.contact-form{
width:100%;
height:350px;
position:relative;
background-image:linear-gradient(0deg,#15569A,#5099f2);
margin-top:30px;

}
.form{
position:absolute;
top:30px;
left:30px;
right:30px;
display:grid;
grid-template-columns:1fr 1fr;
grid-gap:20px;
}
.main-form{
text-align:center;
margin-bottom:25px;
margin-top:45px;
}
.main-form>input{
border:none;
width:75%;
height:50px;
border-radius:50px;
padding:20px;
font-size:18px;
margin-bottom:15px;
}
.main-form>button{
color:#fff;
font-size:25px;
text-transform:capitalize;
font-family: 'Merriweather', serif;
margin-left:30px;
margin-top:-100px;
border-radius:50px;
background-color:#FF6000;
padding:15px;
border:none;
}
.main-form>button:hover{
cursor:pointer;
background-color:#000;
transition:.4s;
color:#fff;
}

.form-heading>h1{
color:#fff;
font-weight:bold;
font-size:40px;

}
.form-heading>p{
color:white;
}
.roll{
background-color:#FF6000;
border-radius:5px;
line-height:-190px;
padding:20px;
color:#fff;
margin-:50px;

}
.roll:hover{
background-color:#374259;
cursor:pointer;
transition:.3s;
}

.footer{
background-color:#272727;
width:100%;
height:400px;
display:flex;
justify-content:space-between;
padding:60px;

}
.footer-links{
list-style-type:none;
}
.footer-links>li>a{
text-decoration:none;
font-size:18px;
color:#ffff;
line-height:40px;

}
.footer-links>li>a:hover{
color:#FF6000;
transition:.3s;
}
.icons1:hover{
color:#FF6000;
transition:.3s;
}
.sub-heading1>h2{
color:#F0F0F0;
margin-bottom:12px;

}
.icons1{
color:#F0F0F0;
margin-left:20px;
font-size:35px;
}
footer{
background-color:#212121;
width:100%;
height:75px;
padding:30px auto;	
text-align:center;
line-height:75px;
color:#fff;
}
footer a{
text-decoration:none;
color:#fff;
}
